/*     
    auteur: Niko Munninghoff
    Aanmaakdatum: 05/06/2024
    <CSS van de paginas>
*/
* 
{
    margin: 0;
    padding: 0;
}
/* Font */
p, h1, h2, h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HOME PAGINA/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.InfoFotoBox
{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-right: 55rem;
    margin-bottom: 2rem;
}

/* Foto album, gemaakt met w3schools tutorial, dus devnotes zijn hier in het engels */
.FotoAlbum
{
    position:absolute;
    background-color:#E5DBA3;
    height: 30rem;
    width: 40rem;

    border-style:solid;
    border-color:#ddd085;
    border-width:0.25rem;

    margin-left:5rem;
}
/* Sizing photos */
.FotosHP
{
    height: 28rem;
    width: 38rem;
    margin: 1rem;
/* Hides the images by default */ 
    display: none;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    position: absolute;
    bottom: 0.4rem;
    width: 95%;
    text-align: center;
    display: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background-color: #E5DBA3;
}

/* Box voor de nieuwsberichten */
.NieuwsBerichten
{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-left: 52rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
}

.NieuwsEen, .NieuwsTwee
{
    background-color: #E5DBA3;
    border:solid #ddd085;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.berichtEen, .berichtTwee{
    padding: 1rem;
}

.nieuwsAfbeelding
{
    position:absolute;
    height: 8rem;
    width: 10rem;
}

/*OVER ONS//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Info box */
.KorteInfo
{
    background-color:#E5DBA3;
    height: 25rem;
    width: 60rem;

    margin-right: auto;
    margin-left: auto;

    border-style:solid;
    border-color:#ddd085;
    border-width:0.25rem;

    overflow:auto;

}
#HeaderInfo
{
    color:#63458a;
    font-size: 2.5rem;
    font-weight: 600;

    margin-top:0.5rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
}
.SubHeaderInfo
{
    color:#63458a;
    font-size: 2rem;
    font-weight: 450;

    margin-top:1rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
}
.InfoText
{
    font-size: 1rem;
    font-weight: 450;

    margin-top:0.5rem;
    margin-left:0.5rem;
    margin-right:0.5rem;
    margin-bottom:1rem;
}



#textbox
{
    background-color:#ddd085;
    height: 40rem;
    width: 30rem;

    border-style:solid;
    border-color:#DF9DF6;
    border-width:0.25rem;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5rem;
}
.formContact{
    padding:1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headercontact
{
    padding-top:1rem;
    padding-left: 7rem;
}
#btnSubmit
{
    background-color: #DF9DF6;
    height: 2rem;
    width:4rem;
}